
body {
  text-align: center;
}
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[typer=radio] + span {
  cursor: pointer;
}

[type=radio]:checked + span {
  border: 4px solid green;
}

label span {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 300px;
  height:auto;
  background-color: red;
  color: white;
}

.javaScript {
  display: none;
}

.swift {
  display: none;
}

.ruby {
  display:
}

footer {
  font-size: 10px;
}

.tiny {
  font-size: 10px;
}
