
body {
  text-align: center;
  margin: auto;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: auto;
  overflow-y: auto;
  margin: auto;
}

.col-xs-4 {
  margin: auto;
}

span.close {
  padding: 5px;
  font-size: 40px;
  font-weight: bold;
}

.modal-body {
  margin: auto;
  margin-bottom: 100px;
  font-family: helvetica;
}

.modal-title {
  font-size: 30px;
}
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[typer=radio] + span {
  cursor: pointer;
}

[type=radio]:checked + span {
  border: 4px solid green;
}

span.box {
  display: inline-block;
  text-align: center;


}

.row {
  margin: 5px 5px 5px 5px;

}

label span  {
  display: inline;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  padding: 20px;
}

.javaScript {
  display: none;
}

.swift {
  display:
}

.ruby {
  display: none;
}

footer {
  font-size: 10px;
}

.tiny {
  font-size: 10px;
}


.page-header {
  padding: auto;
  margin-right: 100px;
  margin-bottom: 10px;
  margin-left: 100px;
  padding-left: auto;

}

.swift {
  margin: auto;
  text-align: center;
}
