
body {
  text-align: center;
}

.modal-body {
  margin: auto;
  margin-bottom: 100px;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[typer=radio] + span {
  cursor: pointer;
}

[type=radio]:checked + span {
  border: 4px solid green;
}

span.box {
  display: inline-block;
  margin-top: ;
  text-align: center;
}

.row {
  margin: 5px 5px 5px 5px;

}

label span {
  display: inline;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 150px;
  height: 150px;
  background-color: red;
  color: white;
  padding: 40px;
}

.javaScript {
  display: none;
}

.swift {
  display: none;
}

.ruby {
  display:
}

footer {
  font-size: 10px;
}

.tiny {
  font-size: 10px;
}
